.list-group-item:hover {
    background-color: grey;
    transform: scale(1.1);



}



.list-group-item {
    transition: background-color 500ms ease-in-out, transform 500ms ease-in-out;

}

body {
    background-image: url(dominik-schroder-FIKD9t5_5zQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.coordinatesBackground {
    background-image: url(photo-1446776811953-b23d57bd21aa.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}